//colors
$Purple100: hsl(254, 88%, 90%);
$Purple500: hsl(256, 67%, 59%);

$Yellow100: hsl(31, 66%, 93%);
$Yellow500: hsl(39, 100%, 71%);

$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 7%);

//Font-size
$xl: 4rem;
$lar: 2.375rem;
$mid: 2rem;
$small: 1.2rem;
